@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    background-color: #f8fafc;
    font-family: 'Instrument Sans', -apple-system, BlinkMacSystemFont, sans-serif;
    height: 100vh;
    overflow-x: hidden;
}